# coming from ide
.classpath
.idea
.project
*.iml

# build results
target
bin
.class
out
.sonar

cobertura.ser
.slcache

CustomConfig.groovy
/test/integration/resources/target-user-list.csv
/test/integration/resources/target-user-list-with-username.csv
