notifications:
  slack:
    secure: iv/rhl9JdEWMZp/IpDocWjxOvlYUHVQDaIh8pWpkcy/8eypq4sWcxnXPZUnlmnLDJGhrrLEUgEBOSBETaQ4t3+CKexu2TAuspuMAo5NEKP+AxoqYtOZCzsyujjQ6edNdE8NdFL9+t8KqcrrtMAMkSORgeDqZCP4cnh4pHj6Yr7U=
language: groovy
jdk:
- oraclejdk7
services:
- mysql
before_script:
- mysql -e 'create database tsaap_notes_travis;'
- mkdir -p ./tsaap-repo
script:
- ./grailsw refresh-dependencies
- ./grailsw -Dgrails.env=travis_ci test-app -coverage -xml
after_success:
- ./grailsw coveralls
dist: trusty
